<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prb.creations.chiringuito"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="8" />

<!--     <uses-feature android:name="android:hardware.camera" />
      <uses-feature android:name="android.hardware.camera.autofocus" />
 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".ChiringuitoApp" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Splash"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.libresoft.apps.ARviewer.VIEWER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ARviewer.ARviewer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".ARviewer.ARPreferences" >
        </activity>
        <activity android:name=".ARviewer.Location.LocationPreferences" >
        </activity>
        <activity android:name=".ARviewer.Utils.AltitudePreferences" >
        </activity>
        <activity android:name=".ShowChiringuitoActivity" 
                android:theme="@android:style/Theme.NoTitleBar">
            
        </activity>
        <activity android:name=".maps.MapChiringuitoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <provider
            android:name=".db.ChiringuitoProvider"
            android:authorities="prb.creations.chiringuito"
            android:multiprocess="true" />
    </application>

</manifest>